body {
  background-color: #fffacd;
}
#response {
  width: 300px;
  height: 200px;
}
.oden {
  width: 50px;
}
.api {
  margin: auto;
  width: 500px;
  background-color: white;
}
h1 {
  padding: 10px;
  background-color: #ff8c00;
}
.inside {
  margin: 20px;
}
img {
  margin: 10px;
}
h3 {
  background-color: #ffa500;
  padding: 3px;
}
button {
  background-color: #ff7f50;
}
